 <% @user ||= current_user %>
<div  class="stats">
<ul>
  <li>
    <div  class="h">
  <a href="<%= following_user_path(@user) %>">
      <%= @user.followings.count %>
    フォロー
  </a>
</div>
  </li>
  <li>
    <div  class="h h_b">
  <a href="<%= followers_user_path(@user) %>">
      <%= @user.followers.count %>
    フォロワー
  </a>
</div>
  </li>
</ul>
</div>