
<%= render 'users/profile', users: @users %>

<div  class="clearfix">
	<h1>フォロワーリスト</h1>
	<% @user.followers.each do |user| %>

	<%= link_to my_list_user_path(user) do %>
	<div  class=" profile_image following_image">
		<span  class="paper_pin"></span>
		<%= attachment_image_tag user, :user_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image100x100.jpg" %>
		<span  class="h h_y"><p><%= user.name %></p></span>
	</div>
	<% end %>

	<% end %>
</div>
