
<h1>ScratchPaperへようこそ！</h1>
<div  class="center clearfix">
	<div  class="page">
		<h1>ScratchPaperとは！！</h1>
		<span  class="paper_pin pin_b"></span>
		<ul>
			<li><p>1..自分が体験したイベントのメモや今日の出来事、気になったことなどどんな事でも<span>気軽にメモとして投稿できる</span>サイトです。</p></li>
			<li><p>2..様々なメモ書きが投稿されるので、その人の生態がわかったり、今後の予定の参考としてどんなイベントがあるのか、楽しいのか等<span>情報を気軽に集める</span>ことも可能です。</p></li>
			<li><p>3..ScratchPaperには○○の内容を投稿してください等の正解はありません。ユーザー自身で開拓して好きなように使ってもらえるように<span>自由度の高い</span>サイトになっています。</p></li>
		</ul>
		<div  class="h h_p_big"><%= link_to new_user_registration_path do %><p>初めての方はこちらへ</p><% end %></div>
		<div  class="h h_b_big"><%= link_to new_user_session_path do %><p>ログインはこちらから</p><% end %></div>
	</div>
</div>
