<%= link_to paper_interests_path(@paper), method: :post, id: "interests_#{@paper.id}", remote: true do %>
<span class="glyphicon glyphicon-bookmark black" aria-hidden="true"><%= @paper.interests.count %></span>
<% end %>